/*

I.   Home Page
  a. Home Section
  b. Work
  c. Services
  d. Clients
  e. Team
  f. Contact
  g. Footer
II.  Work Page
III. Services Page
IV.  About Page
V.   Contact Page

*/

body {
    margin: 0;
    padding: 0;
}

/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* -------------------------- Home Page -------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* ------------------------ Home Section ------------------------- */
/* --------------------------------------------------------------- */

#home-section {
    background-color: #f8f8f8;
    width: 100%;
}

/* --------------------------- Navbar ---------------------------- */

#navbar {
    padding: 60px 24px;
    transition: 0.5s all;
}

/* width = 1200px or larger */
@media (min-width: 1200px) {
    #navbar {
        padding: 60px calc(24px + 112px);
    }
}

#logo {
    height: 60px;
    width: auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}

li {
    float: left;
    transition: 0.5s all;
}

#first-item {
    margin-left: 0 !important;
}

.menu-item {
    font-size: 14px;
    line-height: 60px;
}

/* width = 1200px or larger */
@media (min-width: 1200px) {
    li {
        margin-left: 100px;
    }
}

/* width = between 1075px and 1199px */
@media (min-width: 1075px) and (max-width: 1199px) {
    li {
        margin-left: 87.5px;
    }
}

/* width = between 950px and 1074px */
@media (min-width: 950px) and (max-width: 1074px) {
    li {
        margin-left: 75px;
    }
}

/* width = between 825px and 949px */
@media (min-width: 825px) and (max-width: 949px) {
    li {
        margin-left: 62.5px;
    }
}

/* width = between 700px and 824px */
@media (min-width: 700px) and (max-width: 824px) {
    li {
        margin-left: 50px;
    }
}

/* width = 699px or smaller */
@media (max-width: 699px) {
    ul {
        display: none;
    }
}

/* ----------------------------- Text ---------------------------- */

#home-text {
    width: 100%;
    padding: 100px 24px;
    transition: 0.5s all;
}

/* width = 1200px or larger */
@media (min-width: 1200px) {
    #home-text {
        padding: 100px calc(24px + 112px);
    }
}

#main-text {
    text-align: center;
    font-size: 72px;
    line-height: 0.9;
    padding-bottom: 25px;
}

#sub-text {
    text-align: center;
    font-size: 36px;
    line-height: 0.9;
}

/* ------------------------ Information -------------------------- */

#info-section {
    width: 100%;
    padding: 0 24px 60px 24px;
    transition: 0.5s all;
    position: absolute;
    bottom: 0;
}

/* width = 1200px or larger */
@media (min-width: 1200px) {
    #info-section {
        padding: 0 calc(24px + 112px) 60px calc(24px + 112px);
    }
}

#info-clock {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: red;
    float: left;
    margin-right: 15px;
}

#info-location {
    font-size: 20px;
    line-height: 37px;
}

/* ------------------------ Scroll Arrow ------------------------- */

#scroll-arrow {
    text-align: center;
    height: 75px;
    width: 100%;
    bottom: 0;
    position: absolute;
}

#scroll-arrow i {
    font-size: 50px;
    width: 50px;
    height: 50px;
}


/* --------------------------------------------------------------- */
/* ------------------------ Work Section ------------------------- */
/* --------------------------------------------------------------- */

#work-section {
    background-color: red;
    height: 200px;
    width: 100%;
}

/* --------------------------------------------------------------- */
/* ---------------------- Services Section ----------------------- */
/* --------------------------------------------------------------- */

#services-section {
    background-color: green;
    height: 200px;
    width: 100%;
}

/* --------------------------------------------------------------- */
/* ----------------------- Clients Section ----------------------- */
/* --------------------------------------------------------------- */

#clients-section {
    background-color: blue;
    height: 200px;
    width: 100%;
}

/* --------------------------------------------------------------- */
/* ------------------------ Team Section ------------------------- */
/* --------------------------------------------------------------- */

#team-section {
    background-color: red;
    height: 200px;
    width: 100%;
}

/* --------------------------------------------------------------- */
/* ----------------------- Contact Section ----------------------- */
/* --------------------------------------------------------------- */

#contact-section {
    background-color: green;
    height: 200px;
    width: 100%;
}





/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* -------------------------- Work Page -------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */



/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* ------------------------ Services Page ------------------------ */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */



/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* -------------------------- About Page ------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */



/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* ------------------------- Contact Page ------------------------ */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */



/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* ------------------------ Contact Button ----------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */

#contact-button {
    width: 100%;
    padding: 0 24px 60px 24px;
    transition: 0.5s all;
    position: fixed;
    bottom: 0;
}

/* width = 1200px or larger */
@media (min-width: 1200px) {
    #contact-button {
        padding: 0 calc(24px + 112px) 60px calc(24px + 112px);
    }
}

#contact-button div {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: blue;
    float: right;
}

#contact-button div i {
    color: #f8f8f8;
}