/*

I.   Home Page
  a. Home Section
  b. Work
  c. Services
  d. Clients
  e. Team
  f. Contact
  g. Footer
II.  Work Page
III. Services Page
IV.  About Page
V.   Contact Page

*/

body {
    margin: 0;
    padding: 0;
}

/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* -------------------------- Home Page -------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */

#home {
    background-color: #f8f8f8;
    width: 100%;
}

/* --------------------------------------------------------------- */
/* ------------------------ Home Section ------------------------- */
/* --------------------------------------------------------------- */

/* --------------------------- Navbar ---------------------------- */

#navbar {
    padding-top: 60px;
    padding-left: 24px;
    padding-right: 24px;
    transition: 0.5s all;
}

/* width = 1200px or larger */
@media (min-width: 1200px) {
    #navbar {
        padding-left: calc(24px + 112px);
        padding-right: calc(24px + 112px);
    }
}

#logo {
    height: 60px;
    width: auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}

li {
    float: left;
    transition: 0.5s all;
}

#first-item {
    margin-left: 0 !important;
}

.menu-item {
    font-size: 14px;
    line-height: 60px;
}

/* width = 1200px or larger */
@media (min-width: 1200px) {
    li {
        margin-left: 100px;
    }
}

/* width = between 1075px and 1199px */
@media (min-width: 1075px) and (max-width: 1199px) {
    li {
        margin-left: 87.5px;
    }
}

/* width = between 950px and 1074px */
@media (min-width: 950px) and (max-width: 1074px) {
    li {
        margin-left: 75px;
    }
}

/* width = between 825px and 949px */
@media (min-width: 825px) and (max-width: 949px) {
    li {
        margin-left: 62.5px;
    }
}

/* width = between 700px and 824px */
@media (min-width: 700px) and (max-width: 824px) {
    li {
        margin-left: 50px;
    }
}

/* width = 699px or smaller */
@media (max-width: 699px) {
    ul {
        display: none;
    }
}

/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* -------------------------- Work Page -------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */

#work {
    background-color: blue;
    height: 200px;
    width: 100%;
}

/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* ------------------------ Services Page ------------------------ */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */

#services {
    background-color: green;
    height: 200px;
    width: 100%;
}

/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* -------------------------- About Page ------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */

#about {
    background-color: yellow;
    height: 200px;
    width: 100%;
}

/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* ------------------------- Contact Page ------------------------ */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */

#contact {
    background-color: black;
    height: 200px;
    width: 100%;
}