/*

I.    Home Page
    a. Home Section
    b. Work Section
    c. Services Section
    d. Clients Section
    e. Contact Section
II.   Work Page
III.  Projects Pages
IV.   Services Page
V.    About Page
VI.   Contact Page
VII.  Navbar
    a. Mobile Menu
VIII. Footer

*/

body {
    margin: 0;
    padding: 0;
}

/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* -------------------------- Home Page -------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */

/* --------------------------------------------------------------- */
/* ------------------------ Home Section ------------------------- */
/* --------------------------------------------------------------- */

#home-section {
    background-color: #f8f8f8;
    width: 100%;
}

/* ----------------------------- Text ---------------------------- */

#home-text {
    width: 100%;
    padding: 100px 24px;
    transition: 0.5s all;
}

/* width = 1200px or larger */
@media (min-width: 1200px) {
    #home-text {
        padding: 100px calc(24px + 112px);
    }
}

#main-text {
    text-align: center;
    font-size: 72px;
    line-height: 0.9;
    padding-bottom: 25px;
}

#sub-text {
    text-align: center;
    font-size: 36px;
    line-height: 0.9;
}

/* ------------------------ Information -------------------------- */

#info-section {
    width: 100%;
    padding: 0 24px 24px 24px;
    transition: 0.5s all;
    position: absolute;
    bottom: 0;
}

/* width = 1200px or larger */
@media (min-width: 1200px) {
    #info-section {
        padding: 0 calc(24px + 112px) 60px calc(24px + 112px);
    }
}

#info-clock {
    width: 75px;
    float: left;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-right: 15px;
} 

#clock {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 1px solid;
    position: relative;
}

#dot, #sec, #min, #hour {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}

#sec, #min, #hour {
    border-radius: 2px;
    -webkit-transform-origin: center bottom;
    -webkit-transform: rotate(0deg);
}

#dot {
    width: 3px;
    height: 3px;
    background: red;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    z-index: 12;
}

#sec {
    width: 0.5px;
    height: 30px;
    background: red;
    top: 7.5px;
    z-index: 10;
}

#min {
    width: 2px;
    height: 28.125px;
    background: black;
    top: 9.375px;
    z-index: 8;
}

#hour {
    width: 3px;
    height: 18.75px;
    background: black;
    top: 18.75px;
    z-index: 6;
}

#info-location {
    font-size: 20px;
    line-height: 37px;
}

/* --------------------------------------------------------------- */
/* ------------------------ Work Section ------------------------- */
/* --------------------------------------------------------------- */

#work-section {
    background-color: #f4f4f4;
    width: 100%;
    padding: 120px 0;
}

.work-title {
    font-size: 48px;
    line-height: 0.9;
}

.work-summary {
    font-size: 24px;
    line-height: 0.9;
    margin: 10px 0 50px 0;
}

.work-button {
    background-color: black;
    color: white !important;
    padding: 17px 30px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
}

/* -------------------------- Project 1 -------------------------- */

#work-1 {
    width: 100%;
    padding: 60px 24px;
    transition: 0.5s all;
    clear: both;
    overflow: auto;
}

/* width = 1200px or larger */
@media (min-width: 1200px) {
    #work-1 {
        padding: 60px calc(24px + 112px);
    }
}

#work-1-text {
    width: 38%;
    float: left;
    padding-top: 50px;
    padding-right: 2%;
}

#work-1-mockup {
    width: 60%;
    float: right;
}

#work-1-text .work-title, #work-1-text .work-summary {
    text-align: right;
}

#work-1-text .work-button {
    float: right;
}

/* -------------------------- Project 2 -------------------------- */

#work-2 {
    width: 100%;
    padding: 60px 24px;
    transition: 0.5s all;
    clear: both;
    overflow: auto;
}

/* width = 1200px or larger */
@media (min-width: 1200px) {
    #work-2 {
        padding: 60px calc(24px + 112px);
    }
}

#work-2-text {
    width: 38%;
    float: right;
    padding-top: 50px;
    padding-left: 2%;
}

#work-2-mockup {
    width: 60%;
    float: left;
}

#work-2-text .work-title, #work-2-text .work-summary {
    text-align: left;
}

#work-2-text .work-button {
    float: left;
}

/* ---------------------- View All Projects ---------------------- */

#work-view {
    margin: 60px 0;
    padding: 15px 0;
    text-align: center;
    clear: both;
}

#work-view .work-button {
    background-color: white !important;
    color: black !important;
}

/* --------------------------------------------------------------- */
/* ---------------------- Services Section ----------------------- */
/* --------------------------------------------------------------- */

#services-section {
    background-color: #f0f0f0;
    width: 100%;
    padding: 120px 24px;
    transition: 0.5s all;
}

/* width = 1200px or larger */
@media (min-width: 1200px) {
    #services-section {
        padding: 120px calc(24px + 112px);
    }
}

/* ----------------------- Services Text ------------------------- */

#services-text {
    width: 35%;
    margin-right: 5%;
    padding-bottom: 25px;
    float: left;
}

#services-title {
    font-size: 72px;
    line-height: 0.9;
}

#services-summary {
    font-size: 24px;
    line-height: 0.9;
    margin: 10px 0 50px 0;
}

/* ----------------------- Services List ------------------------- */

#services-list {
    width: 60%;
    float: right;
}

.services-col {
    float: left;
    width: 25%;
}

.services-col span {
    padding-bottom: 5px;
}

.services-col ul {
    font-size: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.services-col ul li {
    font-size: 14px;
    text-align: left;
    margin: 0;
}

/* ---------------------- View All Services ---------------------- */

#services-view {
    margin: 60px 0 30px 0;
    padding: 15px 0;
    text-align: center;
    clear: both;
}

#services-view a {
    background-color: white;
    color: black !important;
    padding: 17px 30px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
}


/* --------------------------------------------------------------- */
/* ----------------------- Clients Section ----------------------- */
/* --------------------------------------------------------------- */

#clients-section {
    background-color: #ececec;
    width: 100%;
    padding: 120px 24px;
    transition: 0.5s all;
}

/* width = 1200px or larger */
@media (min-width: 1200px) {
    #clients-section {
        padding: 120px calc(24px + 112px);
    }
}

/* ----------------------- Clients Text ------------------------- */

#clients-text {
    width: 35%;
    margin-left: 5%;
    float: right;
}

#clients-title {
    font-size: 72px;
    line-height: 0.9;
}

#clients-summary {
    font-size: 24px;
    line-height: 0.9;
}

/* ----------------------- Clients List ------------------------- */

#clients-list {
    width: 60%;
    float: left;
}

.clients-list-outer {
    float: left;
}

.clients-top-row {
    margin-bottom: 40px !important;
}

.clients-logo {
    width: 150px;
    height: 150px;
    background-color: #e1e1e1;
    margin: 0 20px;
    float: left;
}

/* --------------------------------------------------------------- */
/* ----------------------- Contact Section ----------------------- */
/* --------------------------------------------------------------- */

#contact-section {
    background-color: #e9e9e9;
    width: 100%;
    padding: 200px 24px;
    transition: 0.5s all;
}

/* width = 1200px or larger */
@media (min-width: 1200px) {
    #contact-section {
        padding: 200px calc(24px + 112px);
    }
}

#contact-text {
    font-size: 72px;
    text-align: center;
}

/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* -------------------------- Work Page -------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */

#work-projects-list-background {
    background-color: #c3c3c3;
    background-image: url("work1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75% auto;
    background-attachment: fixed;
}

#work-projects-list {
    background-color: #f1f1f1;
    padding: 120px 0;
    transition: background 0.5s;
}

.work-project {
    margin: 120px 12.5%;
    text-align: center;
}

.work-project-title {
    font-size: 72px;
    cursor: pointer;
    text-decoration: none;
    color: #212529;
    
    -webkit-transition: color 0.5s ease-out;
    -moz-transition: color 0.5s ease-out;
    -o-transition: color 0.5s ease-out;
    -ms-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
}

.work-project-title:hover {
    color: #212529;
}

/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* ------------------------ Projects Pages ----------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */

.projects-nav {
    background-color: #f8f8f8;
}

.projects-section {
    width: 100%;
    padding: 100px 24px;
    transition: 0.5s all;
    background-color: #f8f8f8;
}

/* width = 1200px or larger */
@media (min-width: 1200px) {
    .projects-section {
        padding: 100px calc(24px + 112px);
    }
}

.projects-gallery {
    width: 100%;
    background-color: #f1f1f1;
}

.projects-gallery img {
    width: 100%;
    position:absolute;
    
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity = 0);
}

.projects-active {
    opacity: 1 !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important;
    filter: alpha(opacity = 1) !important;
}

.projects-gallery-scroller {
    height: 25px;
    margin: 5px 0;
}

.projects-left-arrow {
    float: left;
    margin-left: 15px;
}

.projects-right-arrow {
    float: right;
    margin-right: 15px;
}

.projects-left-arrow, .projects-right-arrow {
    height: 100%;
    line-height: 25px;
    cursor: pointer;
}

.projects-numbers-list {
    float: none;
}

.projects-numbers-list ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: table;
}

.projects-numbers-list ul li {
    float: left;
    margin: 0 7.5px;
    cursor: pointer;
}

.projects-number-active {
    background-color: rgba(0, 0, 0, 0.3);
}

.projects-information {
    margin: 40px 0;
}

.projects-left-col {
    width: 30%;
    margin-right: 5%;
    float: left;
}

.projects-right-col {
    width: 65%;
    float: right;
}

.projects-title {
    font-size: 32px;
    line-height: 0.9;
    margin: 3px 0 10px 0;
}

.projects-website {
    margin-top: 20px;
}

/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* ------------------------ Services Page ------------------------ */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */

#services-section {
    width: 100%;
    padding: 100px 24px;
    transition: 0.5s all;
    background-color: #f1f1f1;
}

/* width = 1200px or larger */
@media (min-width: 1200px) {
    #services-section {
        padding: 100px calc(24px + 112px);
    }
}

.services-group {
    padding: 75px 0;
}

.services-left {
    margin-right: 5%;
    float: left;
}

.services-right {
    float: right;
}

.services-text-col {
    width: 50%;
}

.services-image-col {
    width: 45%;
}

.services-title {
    font-size: 48px;
}

.services-tags {
    margin: 0 0 25px -5px;
}

.services-tags ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: table;
}

.services-tags ul li {
    float: left;
    margin: 2px 5px;
    padding: 2.5px 15px;
    border: black 1px solid;
    border-radius: 15px;
    font-size: 12px;
}

.services-image-col img {
    width: 100%;
}

/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* -------------------------- About Page ------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */

#about-section {
    width: 100%;
    padding: 100px 24px;
    transition: 0.5s all;
    background-color: #f1f1f1;
}

/* width = 1200px or larger */
@media (min-width: 1200px) {
    #about-section {
        padding: 100px calc(24px + 112px);
    }
}

#about-who, #about-team, #about-join {
    padding: 100px 0;
}

#about-who-title {
    font-size: 48px;
    line-height: 1;
    float: left;
    width: 35%;
    margin-right: 5%;
}

#about-who-description {
    float: right;
    width: 60%;
}

#about-team-title {
    font-size: 48px;
    text-align: center;
    margin-bottom: 50px;
}

#about-team-members {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.team-member {
    position: relative;
    width: calc(100% / 3);
    margin: 0 2%;
    text-align: center;
}

.team-member img {
    width: 100%;
    -webkit-filter: contrast(75%) grayscale(100%);
    filter: contrast(75%) grayscale(100%);
    transition: 0.5s all;
}

.about-bio {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 5%;
    transition: 0.5s all;
}

.about-bio-name {
    width: 100%;
    font-size: 36px;
    line-height: 1;
    text-align: left;
    color: white;
    
    transition: 0.5s all;
}

.about-bio-title {
    font-size: 14px;
    line-height: 1;
    color: white;
    
    position: absolute;
    left: 5%;
    bottom: 15%;
    
    opacity: 0;
    transition: 0.5s all;
}

.about-bio-social {
    font-size: 20px;
    line-height: 1;
    color: white;
    z-index: 50;
    
    position: absolute;
    right: 5%;
    bottom: 12.5%;
    
    opacity: 0;
    transition: 0.5s all;
}

.about-bio-social a {
    padding: 0 2.5px;
}

.team-member-selector {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    cursor: pointer;
}

#about-join {
    text-align: center;
}

#about-join-tagline {
    margin-bottom: 25px;
}

#about-join-button {
    background-color: black;
    color: white !important;
    padding: 17px 30px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
}

/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* ------------------------- Contact Page ------------------------ */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */

#contact-body {
    width: 100%;
    margin: 0;
    background-color: #f1f1f1;
}

#contact-form {
    width: 700px;
    margin: 0 auto;
    padding: 240px 0;
}

.contact-form-text {
    font-size: 34px;
    text-align: left;
}

.contact-form-checkbox {
    font-size: 24px;
    margin: 15px;
    display: block;
}

.contact-form-checkbox div svg path {
    fill: black;
    color: black;
}

.contact-form-checkbox div svg {
    padding: 2px;
}

.contact-form-checkbox div label div {
    position: absolute;
    bottom: 2px;
}

#contact-form > div:nth-child(5) {
    margin-top: 7.5px
}

#contact-form > div:nth-child(8) {
    margin-bottom: 7.5px;
}

.contact-form-text input, .contact-form-text textarea {
    background-color: transparent;
    line-height: 1;
    border: 0;
    border-bottom: 3px #757575 solid;
    transition: 0.5s all;
}

.contact-form-text textarea {
    width: 100%;
    height: 200px;
    resize: none;
}

.contact-form-text input:focus, .contact-form-text textarea:focus {
    outline: none;
    border-bottom-color: red;
}

#contact-outer-button {
    padding-top: 50px;
    text-align: center;
}

#contact-form-button {
    background-color: black;
    color: white !important;
    padding: 17px 30px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
}

/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* ------------------------ Contact Button ----------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */

#contact-button {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 24px;
    transition: 0.5s all;
    cursor: pointer;
}

/* width = 1200px or larger */
@media (min-width: 1200px) {
    #contact-button {
        margin: 0 calc(24px + 112px) 60px calc(24px + 112px);
    }
}

#contact-button div {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: #004ecb;
    float: right;
    text-align: center;
    line-height: 75px;
    font-size: 36px;
    
    -webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
}

#contact-button div i {
    color: #f8f8f8;
}

/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------- Navbar ---------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */

nav {
    padding: 24px 24px 60px 24px;
    transition: 0.5s all;
}

/* width = 1200px or larger */
@media (min-width: 1200px) {
    nav {
        padding: 60px calc(24px + 112px);
    }
}

#logo {
    height: 60px;
    width: auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}

nav ul li {
    float: left;
    transition: 0.5s all;
}

#menu-first-item {
    margin-left: 0 !important;
}

.menu-item {
    font-size: 14px;
    line-height: 60px;
}

#menu-mobile-button {
    display: none;
    float: right;
    font-size: 24px;
    line-height: 60px;
    width: 60px;
    text-align: center;
}

#menu-mobile-button i {
    cursor: pointer;
}

/* width = 1200px or larger */
@media (min-width: 1200px) {
    nav ul li {
        margin-left: 100px;
    }
}

/* width = between 1075px and 1199px */
@media (min-width: 1075px) and (max-width: 1199px) {
    nav ul li {
        margin-left: 87.5px;
    }
}

/* width = between 950px and 1074px */
@media (min-width: 950px) and (max-width: 1074px) {
    nav ul li {
        margin-left: 75px;
    }
}

/* width = between 825px and 949px */
@media (min-width: 825px) and (max-width: 949px) {
    nav ul li {
        margin-left: 62.5px;
    }
}

/* width = between 700px and 824px */
@media (min-width: 700px) and (max-width: 824px) {
    nav ul li {
        margin-left: 50px;
    }
}

/* width = 699px or smaller */
@media (max-width: 699px) {
    nav ul {
        display: none;
    }
    
    #menu-mobile-button {
        display: block;
    }
}

/* --------------------------------------------------------------- */
/* ------------------------- Mobile Menu ------------------------- */
/* --------------------------------------------------------------- */

#mobile-menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 20;
}

#mobile-menu-close {
    position: fixed;
    top: 0;
    right: 0;
    font-size: 24px;
    width: 24px;
    text-align: center;
    color: #f8f8f8;
    margin: 42px;
    cursor: pointer;
}

#mobile-menu-option-1, #mobile-menu-option-2, #mobile-menu-option-3, #mobile-menu-option-4, #mobile-menu-option-5 {
    width: 100%;
    height: 20%;
    display: table;
}

#mobile-menu-option-1 {
    background-color: #2b3030;
}

#mobile-menu-option-2 {
    background-color: #242828;
    
}

#mobile-menu-option-3 {
    background-color: #1d2020;
    
}

#mobile-menu-option-4 {
    background-color: #161818;
    
}

#mobile-menu-option-5 {
    background-color: #0f1010;
    height: calc(20% + 5px);
    
}

.mobile-menu-text {
    font-size: 36px;
    color: #f8f8f8;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------- Footer ---------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */

footer {
    background-color: #e5e5e5;
    width: 100%;
    padding: 60px 24px;
    transition: 0.5s all;
}

/* width = 1200px or larger */
@media (min-width: 1200px) {
    footer {
        padding: 60px calc(24px + 112px);
    }
}

#footer-logo {
    width: 200px;
    float: left;
}

#footer-logo img {
    height: 200px;
    width: 200px;
    margin-top: calc(-60px - 30px);
    text-align: center;
}

#footer-logo div {
    width: 100%;
    font-size: 32px;
    text-align: center;
}

#footer-left {
    width: calc((100% - 200px) * 0.45);
    margin-right: calc((100% - 200px) * 0.05);
    float: left;
    text-align: center;
}

#footer-right {
    width: calc((100% - 200px) * 0.45);
    margin-left: calc((100% - 200px) * 0.05);
    float: right;
    text-align: center;
}

#footer-social {
    height: 20px;
    margin-top: 5px;
}

.footer-social-link {
    float: left;
    width: calc(100% / 7);
    height: 20px;
    font-size: 18px;
}